numpy==1.26.3
tensorly==0.8.1
rawpy==0.21.0
kornia==0.7.2
setuptools==69.5.1
xformers==0.0.22
transformers==4.44.0
accelerate==0.32.0
einops==0.7.0
timm==1.0.9
streamlit==1.38.0
urllib3==1.26.20
tyro==0.8.4
typeguard==2.13.3
jaxtyping==0.2.30
ninja==1.11.1.1
prettytable==3.10.2
jsonlines==4.0.0